p  {
    line-height: 2;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

h1, h2, h3 {
  font-family: 'Abril Fatface', cursive;
  font-weight: bold;
  color: black;
}


.imgbg{
    background-repeat: no-repeat;
    position: fixed;
 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0s;
    box-sizing: border-box;
}

.element {
    animation: pulse 4s infinite;
  }
  
  @keyframes pulse {
    0% {
      opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
  }

button{
  font-size: 24px;
}

.darkmode{
  display: none;
}

.lightmode{
  color: black;
}
.navbar{
  z-index: 2;
}


.nav-link{
  font-weight: bold;
}

footer {
  position: absolute;
  bottom: 0;
}

#main{
  position: relative;
  margin-top: 20%;
  overflow: hidden;
  z-index: 3;
  text-align: center;
}



/* Animations */
.animate-reveal {
  opacity: 0;
  -webkit-animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
          animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}

.animate-first {
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.animate-second {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.animate-third {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
@-webkit-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}