body {
    background-image: url('../images/doodles.png');
    background-color:#4aaaa5;
}

.color {
    background-color: #4aaaa5;
}

.wrapcenter{
    margin: auto;
    position: relative;
    left: 0;
    right: 0;
    background-color: white;
    border-style: solid;
    margin-top: 20px;
    width: 960px;
}

p  {
    color: #777777;
    line-height: 2;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

#imgur{
    margin: 0px 20px 10px 20px;
}

h1, h2, h3 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: bold;
}
p  {
    color: #777777;
    line-height: 2;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.imgtext {
    background-color: #4aaaa5;
    text-align: center;
    
  }
.imgtextcolor{
    color: white;
    line-height: 2;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.card-title{
    margin-top: 90px;
}
@media screen and (max-width: 768px) {
    .wrapcenter{
        margin: auto;
        position: relative;
        left: 0;
        right: 0;
        background-color: white;
        border-style: solid;
        margin-top: 20px;
        width: 500px;
    }
}

.imgbg{
    background-repeat: no-repeat;
    position: fixed;
 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0s;
    box-sizing: border-box;
}

.element {
    animation: pulse 4s infinite;
  }
  
  @keyframes pulse {
    0% {
      opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
  }

.sidenav {
  height: 100%;
  width: 200px;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
  position: fixed;
  opacity: 90%;

  padding-top: 50px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  
  }


  a {
    position: relative;
    left: -100px;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 0s;
    opacity: 100%;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

button{
  position: relative;
}

.darkmode{
  display: none;
}

.lightmode{
  display: flex;
  color: black;
}
.navbar{
  z-index: 2;
}



